.upper-side {
    position: absolute;
    top:0px; 
    left: 0px;
    height: 12%;
    width: 100%;
    background: #F3AC3C;
}
.upper-side2 {
    position: absolute;
    top: 10%; 
    left: 0px;
    height: 2%;
    width: 100%;
    background: #998235;
}
.navigation {
    position: absolute;
    top: 2px;
    left: 83%;
    width: 15%;
    height: 9%;
    background: #0B2429;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.navigation ul {
    display: flex;
    
}
.navigation ul li {
    position: relative;
    top: 0px;;
    list-style: none;
    width: 90px;
    height: 75px;
    z-index: 1;

    border-radius: 100%;

}
.navigation ul li a {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon {
    position: relative;
    top:-10px;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: white;
}
.navigation ul li a .text {
    position: absolute;
    color: #F3AC3C;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.1em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);

}
.navigation ul li:hover a .icon {
    transform: translateY(-20px);
}
.navigation ul li:hover a .text {
    opacity: 1;
    transform: translateY(5px);
}
.header {
    position: absolute;
    top:2%;
    left:5%;
    color: #0B2429;
    font-size: large;
    flex: 1 0 auto;

}